body{
    background-color: #202020;
}
.head_container{
    color: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head_container h2 .brand{
    color: #4e86d8;
}
.head_container h2{
    text-align: center;
}
.img_wrapper{
    height: 7rem;
    width: 7rem;
    background-image: url("./images/gabriel-lopez-389225-unsplash.jpg");
    border-radius: 50%;
    margin-left: 34%;
}
.img_wrapper img{
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    height: 7rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contentsection {
    width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-left: 5%;
height: 16rem;
position: relative;
top: -2rem;
color: silver;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contentsection .content{
    padding: 1rem;
    font-size: 1rem;
}
.cont_footer ul{
    margin-left: -1.3rem;
    list-style-type: none;
}