body{
    background-color: #202020;
    color: silver;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headercontainer{
    margin-left: 1rem;
}
.maincontainer h1 {
    color: #4e86d8;
}
.rectangle{
    height: 20px;
  width: 100px;
  background-color:#FFDB58;
  font-size: .8rem;
  text-align: center;
  margin-top: 1px;
  color: black;
  border-radius: 6%;
}
.course-content ul{
    list-style-type: none;
    margin-left: -2.3rem;
}
.course-content ul li {
    margin-bottom: .4rem;
}
.course-content ul li:nth-child(1){
    color: #FFDB58;
}
.rate_count{
    color: silver;
    margin-left: 5px;
}
.hero-image img {
    width: 90%;
    margin-left: 5%;
}
.play_btn{
    border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: none;
text-align: center;
cursor: pointer;
position: absolute;
margin-top: 13%;
margin-left: 32%;
color: #FFDB58;
}
.fee-container ul{
    list-style-type: none;
    margin-left: -1rem;
}
.fee-container ul li{
 margin-bottom: .3rem;   
}
.pay-button button{
    width: 90%;
margin-left: 5%;
border: none;
height: 2.5rem;
border-radius: 2%;
color: white;
font-size: 1.3rem;
background-color: #ec5252;
overflow: hidden;
}
.add-heart-container{
margin-left: 5%;
margin-top: .5rem;
}
.add-heart-container .add{
    width: 60%;
border: none;
height: 2rem;
border-radius: 2%;
color: white;
border: 1px solid silver;
background-color: #202020;
}
.add-heart-container .heart{
    width: 33%;
    border: none;
    height: 2rem;
    border: 1px solid silver;
    border-radius: 2%;
    background-color: #202020;
    color: #ec5252;
}
.course-conten{
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
}
.course-conten ul {
    list-style-type: none;
    margin-top: -7%;
    padding: 4%;
    
}
.course-conten h2{
    margin-left: 2%;
    padding: 2%;
    color: #ec5252;
}
.course-conten ul li i {
    margin: 1.5%;
}
.learn-container{
    width: 90%;
    margin-left: 5%;    
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
}
.learn-container ul{
    list-style-type: none;
    padding: 4%;
    padding-top: 1%;
}
.learn-container ul li::before{
    content: '✓';
    margin-right: 3%;
}
.learn-container h2{
padding: 2%;
color: #ec5252;
}
.require-class{
    width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
    margin-left: 5%;
}
.require-class h3{
    padding:4%;
}
.require-class ul{
    margin-left: 5%;
    padding: 2%;
    margin-top: -6%;
}
.require-class h3{
    color: #ec5252;
}
.feedback-section .checked{
    color: #FFDB58; 
}
.feedback-section p {
    font-size: 4rem;
padding: 0;
margin-left: 5%;
margin-top: -4%;
margin-bottom: -1%;
}
.feedback-section h2{
    margin-left: 5%;
    font-size: 1.5rem;
}
.feedback-section p span{
    font-size: 1.2rem;
}
.feedback-section .rating-section{
    margin-left: 6%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.seperator-line{
    width: 90%;
    margin-left: 5%;
}
.ratingcount-1{
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
}
.rating1-section{
    float: right;
    margin-right: 5%;
    position: relative;
    margin-top: -5.5%;
}
.rating-counter{
    width: 45%;
    background-color: silver;
    height: 1rem;
}
.rate-count{
    width: 90%;
height: 1rem;
background-color: #FFDB58;
}
.rate-count2{
    width: 70%;
}
.rate-count3{
    width: 55%;
}
.rate-count4{
    width: 20%;
}
.rate-count5{
    width: 2%;
}
.comments p {
    font-size: .8rem;   
}
.comments{
    width: 90%;
    margin-left: 1%;
    margin-top: 5%;
}
.name-holder h5{
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 3%;
}
.name-holder h5 span{
    margin-left: 3%;
}
.name-holder p {
    margin-top: -6%;
}
.button-container{
    margin-left: 5%;
    margin-top: 3%;
    
}
.button-container .first-btn{
    width: 16%;
border: 1px solid #43f07a;
height: 1.5rem;
background-color: #202020;
color: #43f07a;
}
.button-container .secnd-btn{
    color: #ec5252;
    border: 1px solid #ec5252;
}
.button-container a{
    margin-left: 2%;
font-size: .8rem;
text-decoration: none;
color: silver;
}