.works{
    text-align: center;
    margin: 0;
    padding:0;
    height: 19rem;
    margin-bottom: 4rem;
    
}
  .btn{
    width: 50%;
    height:4.5rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    text-align: center;
    float: left;
  }
  .btn.active{
    width: 50%;
    height: 4.5rem;
    background: #4e86d8;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  .content{
    padding: 1rem;
    color: white;
    display: none;
    position: relative;
    margin-top: -55%;
    padding-bottom: 1rem;
  }
  .content.visible{
    display: block;
    width: 74%;
    float: right;
    position: relative;
    margin-top: -55%;
    padding-bottom: 1rem;
  }
