body{
    background-color: #202020;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ' bar logo join';
    height: 3rem;
}
.bar-menu {
    grid-area: bar;
}
.brand{
    display: grid;
    margin-left: -2%;
    grid-area: logo;
}
.join-us{
    grid-area: join;
}
.bar-menu button{
    width: 2rem;
height: 3rem;
border: none;
background-color: #202020;
color: white;
font-size: 1.5rem;
padding: 0;
margin-left: 3%;
}
.brand img{
width: 2rem;
margin-top: 6%;
margin-left: 7%;
}
.brand span{
    font-size: 1.1rem;
margin-left: 26%;
margin-top: -15%;
}
.join-us button{
    width: 6rem;
height: 3rem;
border: none;
background-color: #202020;
font-size: 1rem;
color: white;
margin-left: 5%;
}
.join-us button span{
    color:#4e86d8;
}
/* start of hero section */
.herosection{
    width: 100%; 
    height: 16rem;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-left{
        position: absolute;
        top: 3%;
        left: 2%;
}
.top-left button{
    height: 2rem;
border: none;
background: transparent;
box-shadow: 0px 1px 2px black;
color: white;
font-size: .7rem;
}
.top-left h2{
    font-size: 2.5rem;
}
.top-left p {
    font-size: .9rem;
    padding: .3rem;
    margin-top: -9%;   
}
/* start of the courses section */
.courses-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'one two'
    'three four';
    background-color: white;
}
.section1{
grid-area: one;
text-align: center;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
margin-top: 2%;
}
.section2{
    grid-area: two;
    margin-top: 2%;
    text-align: center;
    border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;

}
.section3{
    margin-top: 2%;
    grid-area: three;
    text-align: center;
    border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;

}
.section4{
    margin-top: 2%;
    grid-area: four;
    text-align: center;
    border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;

}
.pillar-image i {
    font-size: 5rem;
padding: .2rem;
    color: #F0DB4F; 
}
.section1 a {
    text-decoration: none;
    color: black;
}
.sect a{
    text-decoration: none;
}
.pillar-tile{
    align-items: center;
    color: #222;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    hyphens: none;
    justify-content: center;
    line-height: 20px;
    letter-spacing: -.025em;
    min-height: 40px;
    padding: 0 10px;
}
.pillar-meta {
    color: #888;
font-size: 12px;
font-weight: 500;
line-height: 20px;
}
.pillar-image2 i {
    color: #61dafb;
}
.pillar-image3 i {
    color: #E44D26;
}
.pillar-image4 i {
    color: #026e00;
}
/* start of the design devlop and deploy section */
/* Style the tab */
.tab {
    float: left;
    background-color: #202020;
    width: 20%;
    height: 18rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3%;

}
.advantage-section h1{
    text-align: center;
    font-size: 1.7rem;
}
.support-content {
    text-align: center;
    width: 90%;
margin-left: 5%;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: whitesmoke;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    height: 6rem;
    border-radius: 3%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #4e86d8;
}

/* Style the tab content */
.tabcontent {
    float: right;  
    width: 76%;
    border-left: none;
    height: 256px;
}
.tabcontent p {
    margin-right: 5%;
}
/* usp-section */
.usp-section {
    margin-top: 81%;
    background-color: white;
    color: #2c3e50;
    text-align: center;
}
.usp-section h2{
    font-weight: bold;
    padding-top: 5%;
}
.bulb-holder{
    height: 5rem;
width: 5rem;
background-color: white;
border-radius: 50%;
text-align: center;
box-shadow: 0px 1px 15px #2c3e50;
margin-left: 38%;
}
.bulb-holder i {
    font-size: 3rem;
margin-top: 16%;
margin-left: 5%;
}
.sub-section1 h3{
    font-size: 1.5rem;
}
.sub-section1 {
    margin-top: 3%;
}