:root{
--background:#202020;
--mustard:#FFDB58;
--brandclr:#4e86d8;
--center:text-align:center;
--b-none:border:none;
--white:white;
--orange:#E44D26;
--black:black;
--width100:width: 100%;
--paddr:padding-right:1rem;
--paddl:padding-left:1rem;
--padd:padding:1rem;















}